body {
    background-color: #17181B;
    color: white;
    background-image: url("../images/kisspng-artificial-intelligence-deep-learning-technology-m-vector-brain-circuits-5a87448c8a8735.6421844715188143485674.png");
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

input, .btn {
    margin: auto;
    width: 100%;
    box-shadow: 1px 1px 1px rgba(39, 39, 39, 0.56), 0 1px 1px 1px rgba(39, 39, 39, 0.56);
}

.btn {
    background-color: #3E5050;
    color: white;
}

.btn:hover {
    color: #3E5050;
    background-color: white;
}

h3 {
    text-shadow: 1px 1px rgba(39, 39, 39, 0.56);
}

.topForm {
    color: whitesmoke;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 5% 5%;
    background-color: #28AB5D;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(39, 39, 39, 0.56), -1px 1px rgba(39, 39, 39, 0.56), 0 2px 2px 2px rgba(39, 39, 39, 0.56);
}

.rowBot {
    margin-top: 20%;
}

.homeCard {
    color: #28AB5D;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 70em;
    height: 35em;
    padding: 5% 5%;
    background-color: rgba(0, 0, 0, 0.41);
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(39, 39, 39, 0.56), -1px 1px rgba(39, 39, 39, 0.56), 0 2px 2px 2px rgba(39, 39, 39, 0.56);
}

#nav-bar {
    background-color: #28AB5D;
    height: 50px;
    color: #3E5050;
}

#nav-bar a {
    color: whitesmoke;
    font-size: 1.1em;
}

#nav-bar a:hover {
    color: #3E5050;
}

.brand-font a {
    margin-left: 5em;
}

#ntopnav {
    margin-left: 5em;
}

#ntopnav a {
    margin: 0 5em;
}

a:not([href]):not([tabindex]) {
    color: white!important;
}

a:hover {
    text-decoration: none;
    color: #ba0f00;
}

.imgUpload:hover {
    cursor: pointer;
}

.custom-card {
    margin-top: 15%;
    color: black;
    background-color: #f4f4f4;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.56), -1px 1px rgba(0, 0, 0, 0.56), 0 2px 2px 2px rgba(0, 0, 0, 0.56);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}
.custom-card .card-header {
    padding: 0;
    padding-top: 5px;
}
.custom-card .card-title {
    margin-bottom: 0;
}
.custom-form {
    max-width: 350px;
    margin: auto;
}
.btn-custom {
    color: #ffffff;
    background-color: #d64829;
    width: 100%;
    margin-bottom: 0.6rem;
}
.btn-custom:hover {
    background-color: #17181B;
    color: white;
}
.result {
    margin-top: 20%;
}
.custom-outline:hover {
    font-size: 2em;
    background: none;
    color: #d64829;
    border-color: #d64829;
}
.custom-outline {
    font-size: 1.6em;
    width: fit-content;
    color: white;
    box-shadow: none;
    background: none;
    border: none;
    transition: 1s;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.mtop {
    margin-top: 25%
}
.result-img {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.56);
}
.talk-bubble {
    color: black;
    margin: 40px;
    display: inline-block;
    position: relative;
    width: 200px;
    height: auto;
    background-color: lightyellow;
}
.tri-right.border.left-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: lightyellow transparent transparent transparent;
}
.tri-right.border.right-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 0px;
    bottom: auto;
    border: 20px solid;
    border-color: lightyellow transparent transparent transparent;
}
.talktext{
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}
.hidden {
    display: none;
}
.topRow {
    height: 45vh;
}
.row {
    margin-left: 0;
}
hr {
    border-top: 1px solid white!important;
}
table {
    background-color: rgba(17, 17, 17, 0.82);
}
td, th {
    padding: 10px;
}
.root-table {
    width: 60%;
}
.root-table .endpoint {
    width: 10%;
}
.root-table .description {
    width: 15%;
}
.root-table .example {
    width: 15%;
}
.endpoint-table {
    width: 80%;
}
.endpoint-table .endpoint {
    width: 10%;
}
.endpoint-table .description {
    width: 15%;
}
.endpoint-table .example {
    width: 15%;
}
.doc-intro {
    width: 60%;
}