{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'image/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'image/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'image/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'image/css/base_style.css' %}">
    <script type="text/javascript" src="{% static 'image/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'image/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'image/js/jquery.min.js' %}"></script>

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            $(".btn-sideNav").hide();
            $(".side-ctrl").fadeIn(2000)
            $(".github").fadeIn(3000)
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            $(".btn-sideNav").fadeIn(1000);
            $(".side-ctrl").hide()
            $(".github").hide()
        }
        $("#service").click(function () {
            $('html, body').animate({
                scrollTop: $("#serviceDiv").offset().top
            }, 2000);
        });
    </script>
</head>
<body>
<div class="modal fade" id="modalContactForm" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <form class="contact-form" action="https://formspree.io/soham5959595@gmail.com" method="post">
                    {% csrf_token %}
                    <div class="form-group mt-3">
                        <input type="text" id="name" name="name" class="form-control" placeholder="Your Name" required/>
                    </div>
                    <div class="form-group">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Your email" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject" required/>
                    </div>
                    <div class="form-group">
                        <textarea type="text" id="message" name="message" class="form-control" rows="4" placeholder="Let us know your thoughts!"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-custom float-right" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp; Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="side-ctrl closebtn" onclick="closeNav()">&times;</a>
    <a href="/canopus/" class="side-ctrl"><span class="fa-stack fa-sm"><i class="fa fa-tachometer fa-stack-1x"></i></span>Dashboard</a>
    <a href="/canopus/services/" class="side-ctrl" id="service"><span class="fa-stack fa-sm"><i
            class="fa fa-wrench fa-stack-1x "></i></span>Services</a>
    <a href="/canopus/documentation/" class="side-ctrl"><span class="fa-stack fa-sm"><i class="fa fas fa-edit fa-stack-1x "></i></span>Documentation</a>
    <a href="#" data-toggle="modal" data-target="#modalContactForm" class="side-ctrl"><span class="fa-stack fa-sm"><i class="fa fa-envelope fa-stack-1x "></i></span>Contact Us</a>
    <span class="github" onclick="window.open('https://github.com/pbprateek/Canopus_AI_Solutions', '_blank'); return false;">
            <i class="fa fa-github" aria-hidden="true"></i>&nbsp; GitHub</span>
</div>
<div id="main">
    <nav class="navbar navbar-default no-margin">
        <div>
        <span onclick="openNav()">
            <a href="#"><span class="fa fa-th-large btn-sideNav hidden"></span></a>
        </span>
        </div>
    </nav>
    <div class="body">
        {% block body %}
        {% endblock %}
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".custom-container").fadeIn(1000)
    })
</script>
</body>

</html>

