{% extends 'image/base.html' %}
{% load staticfiles %}


{% block body %}
    <script>
        $(document).ready(function () {
            $(".result").fadeIn(5000)
        })
    </script>
    <div class = "container custom-container hidden">
        <div class="row">
            <div class="col-lg-5 offset-lg-3">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title text-center">
                            <h4>Colorization</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="custom-form" action="/canopus/colorize-done/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group mt-3">
                                <input class="imgUpload" type="file" name="image"/>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-custom" type="submit">Colorize Image!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if image %}
            {% block resultColorize %}
            {% endblock %}
        {% endif %}
    </div>
    <script>
        $(document).ready(function () {
            $(".custom-container").fadeIn(1000)
        })
    </script>
{% endblock %}