{% extends 'image/colorize.html' %}
{% load staticfiles %}

{% block resultColorize %}
    <div class="row">
        <div class="col-lg-3 offset-lg-1">
            <div class="result text-center hidden">
                <img class="result-img" src="{% static "image/images/input.png" %}"/>
            </div>
        </div>
        <div class="col-lg-3 offset-lg-2">
            <div class="result text-center hidden">
                <img class="result-img" src="{% static "image/images/" %}{{ image }}"/>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".result").fadeIn(5000)
        })
    </script>
{% endblock %}