{% extends 'image/base.html' %}


{% block body %}
    <div class="container-fluid custom-container hidden">
        <h4 class="mt-3">Services</h4>
        <hr>
        <div class="row mt-lg-5 topRow">
            <div class="col-lg-3">
                <form action="/canopus/colorize/">
                    <button id="deepDreams" class="btn btn-outline-info custom-outline" type="submit">Colorization</button>
                </form>
            </div>
            <div class="col-lg-3">
                <div class="talk-bubble tri-right left-top hidden dreamsBubble">
                    <div class="talktext text-center">
                        <p class="mt-3">Convert all your black and white images to colored!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="talk-bubble tri-right right-top hidden styleBubble">
                    <div class="talktext text-center">
                        <p class="mt-3">Enhance your image style by applying the style of ANY other image to yours!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <form action="/canopus/style-transfer/">
                    <button id="styleTransfer" class="btn btn-outline-info custom-outline" type="submit">Style Transfer</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <form action="/canopus/img-classification/">
                    <button id="imageClass" class="btn btn-outline-info custom-outline" type="submit">Image Classification</button>
                </form>
            </div>
            <div class="col-lg-3">
                <div class="talk-bubble tri-right left-top hidden imgBubble">
                    <div class="talktext text-center">
                        <p class="mt-3">Confirm if your pet is a dog or a cat! Our results are correct.(almost ALWAYS...)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="talk-bubble tri-right right-top hidden faceBubble">
                    <div class="talktext text-center">
                        <p class="mt-3">Is it the same person in both the photos, or different?</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <form action="/canopus/face-recognition/">
                    <button id="faceRecog" class="btn btn-outline-info custom-outline" type="submit">Face Recognition</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#deepDreams").mouseover(function () {
                $(".dreamsBubble").fadeIn()
            })
            $("#deepDreams").mouseout(function () {
                $(".dreamsBubble").fadeOut()
            })
            $("#styleTransfer").mouseover(function () {
                $(".styleBubble").fadeIn()
            })
            $("#styleTransfer").mouseout(function () {
                $(".styleBubble").fadeOut()
            })
            $("#imageClass").mouseover(function () {
                $(".imgBubble").fadeIn()
            })
            $("#imageClass").mouseout(function () {
                $(".imgBubble").fadeOut()
            })
            $("#faceRecog").mouseover(function () {
                $(".faceBubble").fadeIn()
            })
            $("#faceRecog").mouseout(function () {
                $(".faceBubble").fadeOut()
            })
        })
    </script>
{% endblock %}